<div fxFlexFill fxLayout="column">
  <mat-toolbar color="primary">Currency convertion</mat-toolbar>
  <div fxLayout="column" fxFlex fxLayoutAlign="center center">
    <form class="container-form" fxFlexFill fxLayout="column" fxLayoutAlign="center none">

      <div fxLayout="row" fxLayout.xs="column">
        <div fxLayout="row" fxFlex class="input-container">
          <mat-form-field fxFlex class="example-full-width">
            <input [(ngModel)]="initialValue" mask="comma_separator.4" name="initialValue" matInput
              placeholder="Ingrese el valor">
          </mat-form-field>
        </div>

        <div fxLayout="row" fxFlex class="input-container">
          <mat-form-field fxFlex class="example-full-width">
            <input [disabled]="true" [(ngModel)]="resultValue" mask="comma_separator.4" name="resultValue" matInput
              placeholder="El resultado es:">
          </mat-form-field>
        </div>
      </div>

      <div fxLayout="row" fxLayoutAlign="end center">
        <button mat-raised-button color="primary" (click)="calculate()">Calcular</button>
      </div>
    </form>
  </div>
</div>
